.filters {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.filters > div {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
