/* =========================
   DESIGN TOKENS
   ========================= */

:root {
  --color-1: #edf9ff;
  --color-2: #d6f1ff;
  --color-3: #b5e7ff;
  --color-4: #83dbff;
  --color-5: #59c5ff;
  --color-6: #1ea9ff;
  --color-7: #068fff;
  --color-8: #007fff;
  --color-9: #0861c5;
  --color-10: #0d539b;
  --color-11: #0e335d;
}
