:root {
  --primary: #007fff;
  --secondary: #00cfff;
  --bg-main: #0a0f1c;
  --bg-soft: #121826;
  --border: #1a2333;
}

/* panel carrito */
.cart {
  position: absolute;
  top: calc(100% + 13px);
  right: 0;
  width: 360px;

  max-height: 450px;
  min-height: 180px; /* se ajusta si está vacío */

  display: flex;
  flex-direction: column;

  background: rgb(17, 17, 17);
  border: none;
  padding: 16px;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.25s ease;
  z-index: 9999;
}

.cart.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* vacío */
.emptyCart {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emptyCart p {
  color: #8aa0c0;
  font-size: 15px;
}

/* botón cerrar */
.close-btn {
  background: none;
  border: 1px solid var(--border);
  color: var(--secondary);
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
  display: none;
}

/* lista */
.cart ul {
  flex: 1;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;

  /* reserva espacio para que no mueva contenido */
  scrollbar-gutter: stable;

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: rgb(107, 107, 107) transparent;
}

/* Chrome / Edge / Opera */
.cart ul::-webkit-scrollbar {
  width: 8px;
}

.cart ul::-webkit-scrollbar-track {
  background: transparent;
}

.cart ul::-webkit-scrollbar-thumb {
  background: rgb(107, 107, 107);
  border-radius: 10px;
}

.cart ul::-webkit-scrollbar-thumb:hover {
  background: rgb(107, 107, 107);
}

/* item */
.cart li {
  display: flex;
  gap: 12px;
  margin-bottom: 18px;

  background: rgb(34, 34, 34);
  border: none;
  padding: 10px;
}

.cart img {
  border-radius: 8px;
}

.cartInfoContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productPrice {
  color: white;
}

.cartInfo {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 8px;
}

.cart strong {
  color: white;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* máximo 2 líneas */
  -webkit-box-orient: vertical;
  overflow: hidden;

  line-height: 1.2;
  max-height: calc(1.2em * 2);
}

.cart small {
  color: rgb(210, 210, 210);
}

.cart footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartQuantityContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cart footer button {
  padding: 4px 8px;
  border: none;
  background: rgb(84, 84, 84);
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 0.9rem;
}

.checkoutBtn {
  width: 100%;
  font-size: 1rem;
  padding: 10px;
  border: none;
  background: #24abf3;
  color: rgb(17, 17, 17);
  font-weight: bold;
  cursor: pointer;
}

.cart p {
  margin-top: 10px;
  font-weight: bold;
  color: rgb(210, 210, 210);
}
