.titleContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

/* líneas laterales */
.titleContainer::before,
.titleContainer::after {
  content: "";
  width: 220px;
  height: 2px;
}

/* izquierda */
.titleContainer::before {
  background: linear-gradient(to right, transparent, #24abf3);
}

/* derecha */
.titleContainer::after {
  background: linear-gradient(to left, transparent, #24abf3);
}

.sectionTitle {
  font-family: var(--font-cosmic);
  font-size: 2rem;
  letter-spacing: 3px;
  color: rgb(202, 202, 202);
  text-align: center;
  font-weight: 100;
  white-space: nowrap;
}
